<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
          <input
          type="email"
          matInput
          placeholder="Email"
          name="email"
          ngModel
          #emailInput="ngModel"
          required
          email
          />
        <mat-error *ngIf="emailInput.invalid">Please enter the valid email!!</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          ngModel
          #passwordInput="ngModel"
          required
          />
        <mat-error *ngIf="passwordInput.invalid">Please enter the password!!</mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        *ngIf="!isLoading"
        >Sign Up
      </button>
  </form>
</mat-card>
