<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
  <form [formGroup]="postForm" (submit)="onSavePost()" *ngIf="!isLoading">
      <mat-form-field>
          <input
          type="text"
          matInput
          formControlName="title"
          placeholder="Post Title"
          />
        <mat-error *ngIf="postForm.get('title').invalid">Please enter the title!!</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button type="button" (click)="fileSelect.click()">Select Image</button>
        <input type="file" #fileSelect (change)="onImageChange($event)"/>
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && postForm.get('image').valid">
        <img [src]="imagePreview" [alt]="postForm.value.title"/>
      </div>
      <mat-form-field>
          <textarea
          matInput
          rows="6"
          formControlName="content"
          placeholder="Post Content"
          ></textarea>
        <mat-error *ngIf="postForm.get('content').invalid">Please enter the content!!</mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        >Save Post
      </button>
  </form>
</mat-card>
