<mat-card>
  <form (submit)="onCreatePost(postForm)" #postForm="ngForm">
      <mat-form-field>
          <input
          type="text"
          matInput
          name="title"
          ngModel
          required
          minlength="3"
          placeholder="Post Title"
          #title="ngModel"
          />
        <mat-error *ngIf="title.invalid">Please enter the title!!</mat-error>
      </mat-form-field>
      <mat-form-field>
          <textarea
          matInput
          rows="6"
          name="content"
          ngModel
          required
          placeholder="Post Content"
          #content="ngModel"
          ></textarea>
        <mat-error *ngIf="content.invalid">Please enter the content!!</mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        >Create Post
      </button>
  </form>
</mat-card>
